.__image-preview, .__master-container { position: fixed; width: 100%; height: 100%; top: 0; z-index: 100000000; }
.__master-container { background-color: rgba(0, 0, 0, 0.9); }
.__master-container .__content { position: relative; display: block; width: 100%; height: 100%; }
.__master-container .__content img { position: relative; display: block; width: 100%; height: 100%; object-fit: contain; }
.__pointers { position: absolute; top: 0; z-index: 100000001; width: 100%; height: 100%; }
.__pointers .__icons { width: 4rem; height: 4rem; background-color: rgba(255, 255, 255, 0.4); border-radius: 100%;
    margin: 20px; padding: 10px; cursor: pointer; position: relative; display: inline-block;
    transform: translateY(-50%); top: 50%;
}
.__pointers .__icons img { display: flex; justify-content: center; align-items: center; }
.__pointers .__icon-right { position: absolute; right: 0; }
.__pointers .__icon-cross { top: 0px; position: absolute; right: 0px; transform: translate(0); margin: 0;
    border-radius: 0 0 0 100%;
}
.__pointers .__icon-cross img { width: 75%; left: 50%; position: relative; transform: translate(-25%); }

.__pointers .__icons:hover { animation-name: __icon-hover; animation-duration: 0.5s; }
.__pointers .__icon-loader { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);
    padding: 10px 30px; background-color: rgba(0, 0, 0, 0.5); border-radius: 50px;
}
.__pointers .__icon-loader img { width: 60px; }
.__pointers .__counts {
    background-color: rgba(255, 255, 255, 0.4); padding: 10px 20px; position: absolute; display: inline-block;
    border-radius: 50px; margin: 20px;
}

.__open-gallery { animation-name: __open-gallery; animation-duration: 300ms; }
.__close-gallery { animation-name: __close-gallery; animation-duration: 300ms; }

@keyframes __open-gallery {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes __close-gallery {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes __close-animation {
    0% { left: 0px; opacity: 1; transform: scale(1); }
    100% { left: -50px; opacity: 0; transform: scale(0.98); }
}

@keyframes __open-animation {
    0% { left: 50px; opacity: 0; transform: scale(0.98); }
    100% { left: 0px; opacity: 1; transform: scale(1); }
}

@keyframes __icon-hover {
    0% { width: 4rem; height: 4rem; }
    50% { width: 4.5rem; height: 4.5rem; }
    100% { width: 4rem; height: 4rem; }
}

@media screen AND (max-width: 575px) {
    .__pointers .__icon-left, .__pointers .__icon-right {
        transform: translateY(-100%); top: 100%; margin: 0; margin-top: -20px;
    }

    .__pointers .__icon-left { margin-left: 20px; }
    .__pointers .__icon-right { margin-right: 20px; }
}
